#accueil{
  height: 100vh;
  margin-top: -10vh;
  display: flex;
  flex-flow: column;
  justify-content: center;
  background-color: $couleur_fond_rose;

.contenu-accueil{
  height: 30vw;
  display: flex;
  flex-flow: column;
  // margin-top: 10vh;
  justify-content: center;
}
  h1{
    z-index: 2;
    margin: 0 10px 0 0;
    font-family: $typo_titre;
    font-weight: normal;
    font-size: 5em;
    display: flex;
    align-self: center;
    text-align: center;
    white-space: nowrap;

    &::after{
      color: $couleur_ml;
      padding: 80px 0 0 10px;
    } 

    span{
      font-size: 4em;
    }
  }
  
  .nom{
    z-index: 2;
    display: flex;
    align-self: center;
    margin-top: -20px;

    h1:first-of-type{
      margin-left: 10px;
   }
    h1:nth-of-type(2){
      color: #BCFDFF;
   }
  }
  
  .rectangle-rond{
    background-color: $couleur_accents;
    border-radius: 100px;
    width: 300px;
    height: 110px;
    display: flex;
    z-index: 1;
    transform: rotate(45deg);
    position: absolute;

    &:first-of-type{
      top: 250px;
      left: -20px;
    }

    &:nth-of-type(2){
      top: 420px;
      left: -120px;
      width: 450px;
    }

    &:nth-of-type(3){
      width: 500px;
      top: 800px;
    }

    &:nth-of-type(4){
      width: 500px;
      top: 600px;
    }

    &:last-of-type{
      width: 300px;
      top: 620px;
      right: -120px;
    }

    &:nth-child(n+3){
      align-self: flex-end;
    }
  }

  h2{
    align-self: center;
    font-weight: normal;
    font-size: 2em;
    z-index: 2;
  }
}