#apropos{
  display: flex;
  flex-flow: column;
  justify-content: center;

  .contenu-apropos{
    display: flex;
    width: 70vw;
    align-self: center;
    flex-flow: column;

    h2{
      font-family: $typo_titre;
      font-weight: normal;
      font-size: 6em;
      margin-bottom: 0;
      margin-top: 10vh;
    }

    .qualites{
      display: flex;
      flex-flow: row;
      justify-content: space-between;
      margin-top: 6vh;
      font-size: 2em;

      div{
        text-align: center;

        img{
          width: 100px;
        }
        p{
          margin: 0;
        }
      }
    }

    .description{
      display: flex;
      font-family: $typo_para;
      margin: 6vh 0 8vh 0;
      font-size: 1.5em;

      img{
        width: 275px;
        height: 367px;
        border-radius: 20px;
      }

      .informations{
        display: flex;
        flex-flow: column;

        p{
          padding-left: 2vh;

          &:not(:first-of-type){
            font-family: $typo_titre_sec;
          }
  
          &:nth-child(2){
            margin-bottom: 0;
          }
        }
      }
    }
  }
}

/* Début de styles mobiles */
@media (max-width:520px) {

}

/* Début de styles tablette */
@media (min-width:520px) and (max-width:960px) {
  #apropos{

    .qualites{
      p{
        font-size: 0.8em;
      }
    }

    .informations{
      p{
        margin-top: 2vh;
        font-size: 0.8em;
      }
    }
  }
}