#chargement{
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: $couleur_fond_rose;
  z-index: 50;

  .rond{
    height: 40px;
    width: 40px;
    margin-right: 10px;
    border-radius: 100%;

    @for $i from 1 through length($couleurs_ronds) {
      &:nth-child(#{$i}) {
        background: nth($couleurs_ronds, $i);
      }
    }

    &:first-child{
      animation: left 1s infinite;
    }

    &:last-child{
      animation: right 1s infinite .5s;
    }
  }

  @keyframes left {
    40%{
      transform: translateX(-60px);
    }
    50%{
      transform: translateX(0);
    }
  }

  @keyframes right {
    40%{
      transform: translateX(60px);
    }
    50%{
      transform: translateX(0);
    }
  }
}