@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Pacifico&family=Roboto&family=Staatliches&display=swap');

body{
  margin: 0;
  background-color:$couleur_blanc;
  font-family: $typo_titre_sec;
  font-weight: normal;
  overflow-x: hidden; /* Hide horizontal scrollbar */
}

#app {
  color: white;
}

.contenuPrincipal{
   background-color: $couleur_fond_rose;
}

a{
text-decoration: none;
color: white;
}

.actif{
  color: $couleur_accents;
}

.cacher{
  display: none;
}