footer{
  color: $couleur_gris;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  padding: 3vw 5vw;
  
  .infosIcones{
    display: none;
  }

  div{
    width: 20vw;
    display: flex;
    flex-flow: column;
    align-items: center;

    h2{
      font-weight: normal;
      font-size: 2em;
      margin-top: 0;
    }

    p{
      font-family: $typo_para;
      margin: 0;
    }
    
    a{
      font-family: $typo_para;
      color: $couleur_gris;
    }
  }

  #signature{
    font-family: $typo_sign;
    font-weight: bold;
    font-size: 2.5em;
    text-align: center;
  }

  #footer-contact{
    p:nth-of-type(2){
      margin-top: 10px;
    }
  }

  #footer-apropos{
    text-align: center;
  }
}

/* Début de styles mobiles */
@media (max-width:520px) {
  footer{
    flex-flow: column;
    justify-content: center;
    align-items: center;
    padding-top: 8vh;

    h2{
      display: none;
    }

    .infosLongues{
      display: none;
    }

     .infosIcones{
       display: flex;
       justify-content: center;
       flex-flow: row;
     }
    
     #signature, .infosIcones, #footer-apropos{
      width: 80vw;
      padding-top: 3vh;
    }

    #footer-apropos{
      padding-bottom: 8vh;
    }
  }
}