// ----------Couleurs-----------------
$couleur_fond_rose: #FFA4B0;
$couleur_blanc: #F6F6F6;
$couleur_gris: #3E3E3E;
$couleur_accents: #FC6478;
$couleur_ml: #BCFDFF;

// Ronds chargement
$couleurs_ronds :#BCFDFF, #F6F6F6, #FF8595, #FC6478;

// ----------Typographies-----------------
$typo_titre_sec: 'Bree Serif', serif;
$typo_titre: 'Staatliches', cursive;
$typo_mld: 'Pacifico', cursive;
$typo_para: 'Roboto', serif;
$typo_sign: 'Hudzaifah';